@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i3mld');
  src:  url('fonts/icomoon.eot?i3mld#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i3mld') format('truetype'),
    url('fonts/icomoon.woff?i3mld') format('woff'),
    url('fonts/icomoon.svg?i3mld#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-design:before {
  content: "\e900";
}
.icon-scroll:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
}
.icon-product:before {
  content: "\e903";
}
.icon-dev:before {
  content: "\e904";
}
