:root {

}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */
legend {
	text-align: center;
}
.header {
	background: url('../images/man.jpg') no-repeat;
	background-size: cover;
	height: 1080px;
}

.contanier 	{
	max-width: 1920px;
	min-width: 400px;
	margin: 0 auto;
}
.header__top {
	text-align: center;
	padding: 185px;
	margin-bottom: 85px;
}
.header__text {
	text-align: justify;
}
.header__title {
	text-align: center;
	font-size: 55px;
	color: #fff;
	margin-bottom: 45px;
	letter-spacing: 16px;
	text-transform: uppercase;
}
.header__subtitle {
	text-align: center;
	font-size: 15px;
	color: #fff;
}
.about__title {
	margin: 0 auto;
	border: 2px solid;
}


.title {
	padding: 150px;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 65px;
	letter-spacing: 10px;
}
.about__text {
	text-align: center;
	font-size: 16px;
	color: #3c3c3c;
	padding: 35px;
}

.about__text-end {
	text-align: center;
	font-size: 16px;
	color: #3c3c3c;
	margin-bottom: 30px;
}
.services {
	background: url('../images/services.jpg') no-repeat;
	background-size: cover;
}
.end-title {
	bottom: 235px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: #3c3c3c;
	margin-bottom: 35px;
}
.about__what {
	text-align: center;
	margin-bottom: 225px;
}
.about__what-text {
	padding: 10px;
	font-size: 14px;
}
.works {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.works__item {
	width: 28.65%;
	height: 235px;
	overflow: hidden;
	position: relative;
	margin-bottom: .5%;
}

.works__item--big {
	width: 41.67%;
}
.works__img {
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	transition: all 1s ease-in-out;
}

.works__item:hover .works__img {
	transform: scale(1.1);
}

.works__title {
	position: absolute;
	bottom: 35px;
	left: 35px;
	text-transform: uppercase;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 5px;
	color: #fff;
}


